<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <li>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
        <a href="{% url 'item_to_order' item.id %}">{{ "Добавить в корзину" }}</a>
    </li>
    <a href="{% url 'order' %}">{{ 'Перейти в корзину' }}</a>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
 {% endif %}
</body>
</html>